### 목표
- 객체가 한 개인 플라스틱 이미지의 배경에 대한 픽셀의 평균을 구하여 분포도를 확인하자

In [38]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import cv2

In [27]:
data = pd.read_csv('../data(json).csv', index_col=False)
data.columns

Index(['imagePath', 'label', 'Shape_num', 'width', 'height', 'point1_x',
       'point1_y', 'point2_x', 'point2_y'],
      dtype='object')

In [12]:
temp = data[data['Shape_num']==1]
temp.to_csv("../data(S1).csv", index=False)

In [3]:
data = pd.read_csv("../data(S1).csv", index_col=False)
data

,imagePath,label,Shape_num,width,height,point1_x,point1_y,point2_x,point2_y
0,3403540,pack,1,2272,4032,926,1682,1248,2284
1,3403658,can,1,2272,4032,999,1701,1295,2224
2,3403788,glass,1,4032,2272,1435,972,2672,1185
3,3403841,paper,1,2268,4032,860,1663,1515,2419
4,3403871,paper,1,2268,4032,861,1683,1493,2445
...,...,...,...,...,...,...,...,...,...
12470,custom_00227,vinyl,1,4032,2268,1312,421,2198,1569
12471,custom_00230,vinyl,1,2268,4032,700,1559,1639,2543
12472,custom_00285,glass,1,2268,4032,630,2882,1380,3243
12473,custom_00287,glass,1,2268,4032,621,2878,1372,3240
12474,custom_00307,glass,1,2268,4032,497,1310,1284,2371

In [6]:
temp =data[data['label']=='plastic']
temp.to_csv("../data(S1_plastic).csv", index=False)

In [32]:
data = pd.read_csv("../data(S1_plastic).csv", index_col=False)
data

,imagePath,label,Shape_num,width,height,point1_x,point1_y,point2_x,point2_y
0,3404044,plastic,1,2592,4608,868,2225,1534,3103
1,3404200,plastic,1,2272,4032,920,1852,1440,2199
2,3404245,plastic,1,2268,4032,1036,1676,1307,2322
3,3404247,plastic,1,2272,4032,1059,1862,1379,2190
4,3404290,plastic,1,4032,2272,1944,1065,2192,1314
...,...,...,...,...,...,...,...,...,...
3523,5162425,plastic,1,2268,4032,583,1329,1789,2923
3524,5162480,plastic,1,2268,4032,1162,1293,1392,2044
3525,5162509,plastic,1,2604,4624,1235,2279,1643,2680
3526,5162612,plastic,1,2268,4032,970,800,1506,2071
3527,5162743,plastic,1,2268,4032,942,989,1354,2359

In [18]:
a_ratio = []

In [28]:
data.values[0]

array(['3403540', 'pack', 1, 2272, 4032, 926, 1682, 1248, 2284],
      dtype=object)

In [19]:
for i in range(len(data.values)):
    image_width = data.values[i][3]
    image_heigth = data.values[i][4]
    x1 = data.values[i][5]
    y1 = data.values[i][6]
    x2 = data.values[i][7]
    y2 = data.values[i][8]
    image_size = image_width*image_heigth
    bbox_size = (x2-x1)*(y2-y1)
    a_ratio.append(np.round(bbox_size/image_size*100,2))

In [33]:
data['ascept_ratio'] = a_ratio

In [26]:
data[data['ascept_ratio']==55.100000]

,imagePath,label,Shape_num,width,height,point1_x,point1_y,point2_x,point2_y,ascept_ratio
929,3457579,plastic,1,2268,4032,255,554,2249,3081,55.1

In [12]:
image_width = data.values[0][3]
image_heigth = data.values[0][4]
x1 = data.values[0][5]
y1 = data.values[0][6]
x2 = data.values[0][7]
y2 = data.values[0][8]

In [15]:
image_size = image_width*image_heigth
bbox_size = (x2-x1)*(y2-y1)
print(bbox_size/image_size*100)

4.895773051697531

In [35]:
data
data.to_csv("./data(S1_plastic_ratio).csv", index=False)

#### 이미지 파일 읽어와서 배경 픽셀 값 추출하기

In [42]:
image_path = "E:/reusable-trash-images/selectstar-reusable-trash-image/3404044.jpg"

image= cv2.imread(image_path, cv2.IMREAD_COLOR)
cv2.imshow('image', image)
cv2.waitKey(0)
cv2.destoryAll

In [37]:
data.values[0][0]

3404044