In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("./data(S1_plastic_Done).csv", index_col=False)
data[['BgMeanR','BgMeanG','BgMeanB']].describe()

           BgMeanR      BgMeanG      BgMeanB
count  3528.000000  3528.000000  3528.000000
mean    133.847789   143.450113   152.179422
std      32.112934    28.923181    27.693631
min       6.000000    14.000000    13.000000
25%     112.000000   126.000000   137.000000
50%     136.000000   145.000000   154.000000
75%     155.250000   163.000000   169.000000
max     212.000000   214.000000   218.000000

In [3]:
meanR = 134
meanG = 143
meanB = 152

In [20]:

mse_15 = data[
    (data.BgMeanB >= int(meanB*0.85)) & (data.BgMeanB <=int(meanB*1.15))
    &(data.BgMeanG >= int(meanG*0.85)) & (data.BgMeanG <=int(meanG*1.15))
    &(data.BgMeanR >= int(meanR*0.85)) & (data.BgMeanR <=int(meanR*1.15))
    & (data.ascept_ratio >=1.95) & (data.ascept_ratio <=11)
]

In [22]:
temp = mse_15[(mse_15.ascept_ratio <=5) & (mse_15.width == 2268)]

# temp.to_csv("./mse_15(plastic).csv", index=False)
temp

,imagePath,label,Shape_num,width,height,point1_x,point1_y,point2_x,point2_y,ascept_ratio,BgMeanR,BgMeanG,BgMeanB
5,3404444,plastic,1,2268,4032,778,1572,1433,2255,4.89,143,151,157
8,3404766,plastic,1,2268,4032,980,1742,1446,2422,3.47,133,139,145
16,3405529,plastic,1,2268,4032,860,1481,1354,1950,2.53,139,148,159
23,3405817,plastic,1,2268,4032,863,1833,1424,2492,4.04,148,154,159
32,3406445,plastic,1,2268,4032,825,1761,1405,2337,3.65,150,157,161
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3407,5066268,plastic,1,2268,4032,1062,1564,1430,2138,2.31,148,153,161
3450,5097335,plastic,1,2268,4032,914,1840,1408,2218,2.04,152,158,163
3503,5148058,plastic,1,2268,4032,851,1814,1380,2369,3.21,122,132,146
3518,5161724,plastic,1,2268,4032,873,1868,1427,2277,2.48,124,141,156
3519,5161732,plastic,1,2268,4032,690,1868,1627,2205,3.45,130,150,173