In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
data = pd.read_csv("./data(S1_plastic_Done).csv", index_col=False)
data[['BgMeanR','BgMeanG','BgMeanB']].describe()

           BgMeanR      BgMeanG      BgMeanB
count  3528.000000  3528.000000  3528.000000
mean    133.847789   143.450113   152.179422
std      32.112934    28.923181    27.693631
min       6.000000    14.000000    13.000000
25%     112.000000   126.000000   137.000000
50%     136.000000   145.000000   154.000000
75%     155.250000   163.000000   169.000000
max     212.000000   214.000000   218.000000

In [13]:
meanR = 134
meanG = 143
meanB = 152

In [47]:
data[
    (data.BgMeanB >= int(meanB*0.95)) & (data.BgMeanB <=int(meanB*1.05))
    &(data.BgMeanG >= int(meanG*0.95)) & (data.BgMeanG <=int(meanG*1.05))
    &(data.BgMeanR >= int(meanR*0.95)) & (data.BgMeanR <=int(meanR*1.05))
    ]

,imagePath,label,Shape_num,width,height,point1_x,point1_y,point2_x,point2_y,ascept_ratio,BgMeanR,BgMeanG,BgMeanB
7,3404688,plastic,1,2268,4032,775,636,1622,1799,10.77,130,144,159
8,3404766,plastic,1,2268,4032,980,1742,1446,2422,3.47,133,139,145
10,3405238,plastic,1,2250,4000,979,1410,1341,2368,3.85,134,138,147
15,3405489,plastic,1,2268,4032,945,1606,1288,1944,1.27,138,147,158
16,3405529,plastic,1,2268,4032,860,1481,1354,1950,2.53,139,148,159
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3440,5087448,plastic,1,2268,4032,1137,1701,1260,2233,0.72,133,144,155
3441,5088322,plastic,1,2988,5312,1423,2104,1826,2833,1.85,132,141,149
3455,5101692,plastic,1,2620,4656,1092,2168,1550,2634,1.75,133,144,155
3489,5143309,plastic,1,2592,4608,1112,1663,1494,2822,3.71,140,142,144
3492,5143419,plastic,1,2592,4608,972,2218,1361,2808,1.92,140,142,144