In [1]:
import pandas as pd

In [20]:
pixel1= pd.read_csv('./pixel1.csv', index_col=False)
pixel2= pd.read_csv('./pixel2.csv', index_col=False)
pixel3= pd.read_csv('./pixel3.csv', index_col=False)
pixel4= pd.read_csv('./pixel4.csv', index_col=False)
pixel5= pd.read_csv('./pixel5.csv', index_col=False)
pixel6= pd.read_csv('./pixel6.csv', index_col=False)
pixel7= pd.read_csv('./pixel7.csv', index_col=False)
pixel8= pd.read_csv('./pixel8.csv', index_col=False)

In [23]:
data = pd.concat([pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8], axis=0)
data.to_csv("./merge.csv", index=False)

In [19]:
data

      AllPixelMeanR  AllPixelMeanG  AllPixelMeanB
0               169            164            159
1               166            161            154
2               166            161            154
3               167            161            157
4               166            162            154
...             ...            ...            ...
8056             91             90             94
8057             91             90             94
8058             91             90             94
8059            110            111            113
8060            110            111            113

[58062 rows x 3 columns]

In [25]:
data = pd.read_csv("../data(05_19).csv")
data2 = pd.read_csv('./merge.csv')

In [27]:
data = pd.concat([data,data2], axis=1)

In [31]:
data.to_csv("../data(05_21).csv", index=False)