In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("../data(05_21).csv")
data

,imagePath,label,Shape_num,point1_x,point1_y,point2_x,point2_y,AllPixelMeanR,AllPixelMeanG,AllPixelMeanB
0,3403540,pack,1,926.446624,1682.100000,1247.866464,2283.751008,169,164,159
1,3403580,pack,2,920.144096,1543.500000,1462.147872,1968.751008,166,161,154
2,3403580,pack,2,891.782720,1890.002016,1317.192000,2447.551008,166,161,154
3,3403658,can,1,998.923424,1701.000000,1295.133152,2223.902016,167,161,157
4,3403788,glass,1,1434.782922,972.086083,2672.409305,1184.842661,166,162,154
...,...,...,...,...,...,...,...,...,...,...
58057,t3_0029,can,6,721.000000,375.000000,967.000000,665.000000,91,90,94
58058,t3_0029,pack,6,591.000000,356.000000,831.000000,573.000000,91,90,94
58059,t3_0029,glass,6,451.000000,508.000000,869.000000,767.000000,91,90,94
58060,t3_0030,pet,2,706.000000,555.000000,859.000000,949.000000,110,111,113
58061,t3_0030,pet,2,855.000000,216.000000,1224.000000,450.000000,110,111,113